# Godot 4+ specific ignores
HoarderJones/.godot/

# Godot-specific ignores
HoarderJones/.import/
HoarderJones/export.cfg
HoarderJones/export_presets.cfg

# Mono-specific ignores
HoarderJones/.mono/
HoarderJones/data_*/